.FiveDayForecast {
  background-color: #243e65;
  color: aliceblue;
}

.FiveDayForecast ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.FiveDayForecast img {
  width: 150px;
  display: block;
  margin: -25% auto;
}
