.HourlyForecast {
  border: 1px solid #192b47;
  background-color: #fff;
}

.HourlyForecast ul {
  list-style: none;
  padding: 0;
  text-align: center;
}

.HourlyForecast img {
  display: block;
  margin: 0 auto;
  width: 80px;
}
